<div class="container cafedetail-container">
	<div class="row">
		<div class="col-md-3">
			<table>
				<tr>
					<td>tag id</td>
					<td>tag content</td>
					<td>tag count</td>
				</tr>
				<% @tag.each do |tag| %>
					<tr>
						<td><%=tag.id %></td>
						<td><%=tag.content %></td>
						<td><%=tag.counting%></td>
					</tr>
				<% end %>
			</table>
		</div>
		<div class="col-md-3">
			<table>
				<tr>
					<td>cafe id</td>
					<td>cafe name</td>
					<td>cafe tags</td>
				</tr>
					<% @cafe.each do |cafe| %>
						<% cafe.tags.each do |tag|%>
							<tr>
								<td><%=cafe.id%></td>
								<td><%=cafe.name%></td>
								<td><%=tag.content%></td>
							</tr>
						<% end %>
				<% end %>
			</table>
		</div>
		<div class="col-md-3">
			<table>
				<tr>
					<td>post id</td>
					<td>post address</td>
					<td>post tags</td>
				</tr>
					<% @post.each do |post| %>
						<% post.tags.each do |tag|%>
							<tr>
								<td><%=post.id%></td>
								<td><%=post.address%></td>
								<td><%=tag.content%></td>
							</tr>
						<% end %>
				<% end %>
			</table>
		</div>
	</div>
</div>