<%# @total_result.each do |total|%>
  <% if total.class.name == 'Cafe' %>
    <div class="grid-item">
      <div class="panel-bottom">
        <div class="panel panel-default" style="border-radius:10px;">
          <div class="panel-body panel-img" style="padding:0;">
            <a href="/cafe/cafedetail?hash=<%=total.cafehash%>" style="text-decoration:none;color:black;">
              <img src='<%=total.image.thumb.url%>' alt="<%=total.name%>" style="width:100%;height:auto;padding: 0px;margin: 0px;border-top-left-radius: 9px;border-top-right-radius: 9px;" address="<%=total.address%>">
            </a>
            <div style="padding:10px;">
              <div style="width:100%;height:54px;text-align: left;display: table;">
                <div style="display: table-cell;vertical-align: middle;font-size: 11px;padding-left: 10px;padding-right: 10px">
                  <%= total.introduction %>
                </div>
              </div>
              <hr style="margin:0px">
              <div style="width:100%;height:50px;padding: 10px;display:table;text-align:center">
                <a href="/cafe/cafedetail?hash=<%=total.cafehash%>" style="text-decoration:none;color:black;">
                  <img src="<%=total.thumnail.url %>" style="width:30px; height:30px; float:left; padding: 0px;border: 1px solid #e6e6e6;" alt="..." class="img-circle">
                </a>
                <div style="width:100%;display:table-cell;vertical-align: middle;padding-left:5px">
                  <div style="width:100%;height: 15px;float: left;">
                    <a href="/cafe/cafedetail?hash=<%=total.cafehash%>" style="text-decoration:none;color:black;">
                      <p style="font-weight:bold; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;color: #555; margin: 0px;text-align: left;font-size:11px">
                        <%=total.name%>
                      </p>
                      <br>
                    </a>  
                  </div>
                  <div style="width:100%;height: 15px;float: left;text-align: left;line-height: 1px">
                    <span class="star-rating small_newsfeed">
                      <% 1.upto(5) do |i| %>
                        <% if i == total.avg.round(0) %>
                          <i class="on"></i>
                        <% else %>
                          <i></i>
                        <% end %>
                      <% end %>
                    </span> 
                    <small><%=total.avg.round(1)%> 점 (<%=total.posts.where.not(:user_id=>total.user_id).count%> 명)</small>
                  </div>
                </div>
              </div>
              <hr style="margin:0px">
              <div style="width:100%;height:31px;text-align: left;display: table;">
                <div style="display: table-cell;vertical-align: middle;font-size: 11px;padding-top: 10px; padding-left: 10px;padding-right: 10px;color: #b0b0b0">
                  <span>#<%= total.tags[3].content %></span>
                  <span>#<%= total.tags[4].content %></span>
                  <span>#<%= total.tags[5].content %></span>
                </div>
              </div>
            </div>
          </div> 
        </div>
      </div>
    </div>
  <% else %>
    <div class="grid-item">
      <div class="panel-bottom">
        <div class="panel panel-default" style="border-radius:10px;">
          <div class="panel-body panel-img" style="padding:0">
            <div class="image_slider" data-toggle="modal" data-target="#myModal"data-value="<%=total.id%>">
              <img src='<%=total.image.thumb.url%>' style="cursor: pointer; width:100%;height:auto;padding: 0px;margin: 0px;border-top-left-radius: 9px;border-top-right-radius: 9px;" address="<%=total.address%>">
            </div>
            <div style="padding:10px;">
              <div style="width:100%;height:54px;text-align: left;display: table;">
                <div style="display: table-cell;vertical-align: middle;font-size: 11px;padding-left: 10px;padding-right: 10px">
                  <%= total.content %>
                </div>
              </div>  
              <div style="width:100%;height:20px;text-align: left;display: table;">
                <div class = "like_count" style="display: table-cell;vertical-align: middle;font-size: 11px;padding-left: 10px;padding-right: 10px">
                  <i id = "like_list_card_button_<%= total.id %>" data-toggle="modal" data-target="#like_list" class="fa fa-heart">&nbsp;<span id="like_count_card_<%= total.id %>"><%=total.likes.count %></span></i>
                </div>
              </div>                  
              <hr style="margin:0px">
              <div style="width:100%;height:50px;padding: 10px;display:table;text-align:center">
                <% if total.user.uid == nil %>
                    <% if total.user.image? %>
                      <span><img src='<%=total.user.image.url%>' style="width:30px; height:30px; float:left; padding: 0px;border: 1px solid #e6e6e6;" alt="..." class="img-circle"></span>
                    <% else %>
                     <img src='<%= image_url('profile_default.jpg') %>' style="width:30px; height:30px; float:left; padding: 0px;border: 1px solid #e6e6e6;" alt="..." class="img-circle">
                    <% end %>
                <% else %>
                  <img src="http://graph.facebook.com/<%=total.user.uid%>/picture?type=large" style="width:30px; height:30px; float:left; padding: 0px;border: 1px solid #e6e6e6;" alt="..." class="img-circle">
                <% end %>
                <div style="width:100%;display:table-cell;vertical-align: middle;padding-left:5px">
                  <div style="width:100%;height: 15px;float: left;">
                    <a href="/home/profile/<%=total.user.user_hash%>" style="decoration:none;color:black;">
                      <p style="font-weight:bold; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;color: #555; margin: 0px;text-align: left;font-size:10px;">
                        <%=total.user.name%>
                      </p>
                      <br>
                    </a>  
                  </div>
                  <div style="width:100%;height: 15px;float: left;text-align: left;line-height: 1px">
                    <p style="font-weight:bold; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;color: #555; margin: 0px;text-align: left;font-size:8px; color:#b0b0b0 ">
                      <%=total.address%>에서
                    </p>
                  </div>
                </div>
              </div>
              <hr style="margin:0px">
              <div style="width:100%;height:31px;text-align: left;display: table;">
                <div style="display: table-cell;vertical-align: middle;font-size: 11px;padding-top: 10px; padding-left: 10px;padding-right: 10px;color: #b0b0b0">
                  <% total.tags.each do |tag| %>
                    <span>#<%= tag.content %></span>
                  <% end %>
                </div>
              </div>
            </div>                
          </div>
        </div>
      </div>
    </div>    
  <% end %>  
<%# end %>

<!-- modal for post image slider -->
<script type="text/javascript">
  $(document).ready(function(){
    var windows = document.querySelectorAll("#window");
    var currentId;
    var length = windows.length;
    $("div.image_slider").click(function(e){
      currentId = $(this).data("value");
      for(var i=0;i<length;i++){
        if(currentId==windows[i].getAttribute('data-value')){
          windows[i].setAttribute('style','display:block');
        }
      }
  
      e.preventDefault();
      
    });

    $(".close").click(function(){
      $("#myModal, #window").hide();
    });
    $('div[name=modal_window]').click(function(){
      $("#myModal, #window").hide();
      $('#myModal').on('hidden.bs.modal', function () {
        //location.reload();style="cursor: pointer"
      });
    });
    $('.leftbutton').click(function(){
      var index = $(this).data("value");
      var i=0;
      while(index!=windows[i].getAttribute('data-value')){
        i++;
      }
      if(i==0){
        windows[i].setAttribute('style','display:none');
        windows[length-1].setAttribute('style','display:block');
      }
      else{
        windows[i].setAttribute('style','display:none');
        windows[i-1].setAttribute('style','display:block');
      }
    });
    $('.rightbutton').click(function(){
      var index = $(this).data("value");
      var i=0;
      while(index!=windows[i].getAttribute('data-value')){
        i++;
      }
      if(i==length-1){
        windows[i].setAttribute('style','display:none');
        windows[0].setAttribute('style','display:block');
      }
      else{
        windows[i].setAttribute('style','display:none');
        windows[i+1].setAttribute('style','display:block');
      }
    });
  });
</script>

<script type="text/javascript">
  $(document).keyup(function(e){
    if (e.keyCode == 27) {
      // $('.like_list_close').click();
      $('.close').click();
    }
  });
</script>

<script type="text/javascript">
$(function(){
  <% unless total.class.name == 'Cafe' %>
    var liked = <%= total.likes.where(:user_id => current_user.id).blank? %>
    var like_count_first =  parseInt($("#like_count_<%= total.id %>").text())
    if(like_count_first==0)
    {
      $("#like_list_button_<%= total.id %>").hide();
      $("#if_like_<%= total.id %>").show();
      $("#like_list_card_button_<%= total.id %>").hide();
    }
    else
    {
      $("#like_list_button_<%= total.id %>").show();
      $("#if_like_<%= total.id %>").hide();
      $("#like_list_card_button_<%= total.id %>").show();
    }
        
    if(!liked)
    {
      $("#like_button_"+<%= total.id %>).removeClass("fa-heart-o").addClass("fa-heart");
    }
    $("#like_first_button_"+<%= total.id %>).click(
      function(){
        var like_count =  parseInt($("#like_count_<%= total.id %>").text())
        ++like_count
            
        $.ajax({
          data: {
              post_id: <%= total.id %>
          },
          url: "/home/like_save",
          success: function(){
            $("#like_count_"+<%= total.id %>).html(""+like_count);
            $("#like_count_card_"+<%= total.id %>).html(""+like_count);            
            $("#like_list_button_<%= total.id %>").show();
            $("#if_like_<%= total.id %>").hide();
            $("#like_list_card_button_<%= total.id %>").show();            
            $("#like_button_"+<%= total.id %>).removeClass("fa-heart-o").addClass("fa-heart");
          }
        });
      }
    );
    $("#like_button_"+<%= total.id %>).click(
      function(){
        var like_count =  parseInt($("#like_count_<%= total.id %>").text())        
        
        if($("#like_button_<%= total.id %>").hasClass('fa-heart-o'))
        {
          ++like_count
          
          $.ajax({
            data: {
                post_id: <%= total.id %>
            },
            url: "/home/like_save",
            success: function(){
              $("#like_count_"+<%= total.id %>).html(""+like_count);
              $("#like_count_card_"+<%= total.id %>).html(""+like_count);
              if(like_count==0)
              {
                $("#like_list_button_<%= total.id %>").hide();
                $("#if_like_<%= total.id %>").show();
                $("#like_list_card_button_<%= total.id %>").hide();
              }
              else
              {
                $("#like_list_button_<%= total.id %>").show();
                $("#if_like_<%= total.id %>").hide();
                $("#like_list_card_button_<%= total.id %>").show();
              }
              $("#like_button_"+<%= total.id %>).removeClass("fa-heart-o").addClass("fa-heart");
            }
          });
        }
        else
        {
          --like_count
      
          $.ajax({
              data: {
                  post_id: <%= total.id %>
              },
              url: "/home/like_cancel_save",
              success: function(){                
                $("#like_count_"+<%= total.id %>).html(""+like_count);
                $("#like_count_card_"+<%= total.id %>).html(""+like_count);
                if(like_count==0)
                {
                  $("#like_list_button_<%= total.id %>").hide();
                  $("#if_like_<%= total.id %>").show();
                  $("#like_list_card_button_<%= total.id %>").hide();
                }
                else
                {
                  $("#like_list_button_<%= total.id %>").show();
                  $("#if_like_<%= total.id %>").hide();
                  $("#like_list_card_button_<%= total.id %>").show();
                }
                $("#like_button_"+<%= total.id %>).removeClass("fa-heart").addClass("fa-heart-o");
              }
          });
        }
      }
    );
    $("#like_list_button_"+<%= total.id %>).click(function(){
      $.ajax({
        url: "/home/like_read/"+<%= total.id %>,
        success:function(json){
          var json_data = $.parseJSON(json);
          var i;
          $('#likelist_modal_name').html(''); 
          for(i=0;i<json_data.length;i++)
          {
            if(json_data[i].image.url ==null)
              $('#likelist_modal_name').append('<div class="row removing"><div class="col-lg-12">'+'<a href="/home/profile/'+json_data[i].user_hash+'"'+'style="color:black">'+'<img src="<%=image_url('profile_default.jpg')%>" class="img-circle">&nbsp;'+json_data[i].name+'</a></div></div><br>');
            else
              $('#likelist_modal_name').append('<div class="row removing"><div class="col-lg-12">'+'<a href="/home/profile/'+json_data[i].user_hash+'"'+'style="color:black">'+'<img src="'+json_data[i].image.url+'" class="img-circle">&nbsp;'+json_data[i].name+'</a></div></div><br>');
          }        
        }
      });      
    });
    $("#like_list_card_button_"+<%= total.id %>).click(function(){
      $.ajax({
        url: "/home/like_read/"+<%= total.id %>,
        success:function(json){
          var json_data = $.parseJSON(json);
          var i;
          $('#likelist_modal_name').html(''); 
          for(i=0;i<json_data.length;i++)
          {
            if(json_data[i].image.url ==null)
              $('#likelist_modal_name').append('<div class="row removing"><div class="col-lg-12">'+'<a href="/home/profile/'+json_data[i].user_hash+'"'+'style="color:black">'+'<img src="<%=image_url('profile_default.jpg')%>" class="img-circle">&nbsp;'+json_data[i].name+'</a></div></div><br>');
            else
              $('#likelist_modal_name').append('<div class="row removing"><div class="col-lg-12">'+'<a href="/home/profile/'+json_data[i].user_hash+'"'+'style="color:black">'+'<img src="'+json_data[i].image.url+'" class="img-circle">&nbsp;'+json_data[i].name+'</a></div></div><br>');
          }        
        }
      });      
    });
  <% end %>

})  
</script>

