<header> 
  <div class="header_inner">
  	<div class="row help-sentence">
	    <h1 class="headline text-weight_300">이용약관</h1>
	    
	</div>
  </div>
</header>

<div class="help-container">
  <div class="row">
  	<div class="col-md-8 col-md-offset-2">
<p>
<br>제 1 장 총 칙
<br>
<br>
<br>  제1조 [목 적]
<br>    본 약관은 ifnill(이하 “회사”라 합니다)가 웹사이트(http://www.pureblack.co.kr)를 통하여 제공하는 소셜서비스(이하 “서비스”라 합니다)의 이용과 관련하여 회사와 회원 사이에 권리ㆍ의무 및 책임사항 등을 규정함을 목적으로 합니다.
<br>
<br>
<br>    제2조 [정 의]
<br>① 본 약관에서 사용하는 용어의 정의는 다음과 같습니다. 1.“이용자”라 함은 “회사”의 웹사이트에 접속하여 본 약관에 따라 “회사”가 제공하는 “콘텐츠” 및 제반 서비스를 이용하는 “회원” 및 “비회원”을 말합니다.
<br>2.“회원”이라 함은 회사의 웹사이트에 접속하여 본 약관에 동의 함으로써 회사와 이용계약을 체결하고 아이디(ID)를 부여 받은 자로서 회사가 제공하는 정보와 서비스를 지속적으로 이용할 수 있는 자를 말합니다.
<br>    3.“콘텐츠”라 함은 회사 웹사이트에서 제공하는 시험문제 및 기타 관련정보를 의미 함으로서 각종 시험 준비에 필요한 자료 또는 정보를 말합니다.
<br>    4.“아이디(ID)”라 함은 회원의 식별 및 서비스 이용을 위하여 회원이 정하고 회사가 승인하는 문자 또는 숫자의 조합을 말합니다.
<br>    5.“비밀번호(PASSWORD)”라 함은 서비스 이용 시, 아이디와 일치되는 회원임을 확인하고, 회원 개인정보 보호를 위하여, 회원 자신이 정한 문자 또는 숫자의 조합을 말합니다.
<br>    6.“전자우편(Email)”이라 함은 인터넷을 통한 우편 혹은 전기적 매체를 이용한 우편을 말합니다.
<br>    7.“운영자(관리자)”라 함은 서비스의 전반적인 관리와 원활한 운영을 위하여 회사에서 선정한 사람 또는 회사를 말합니다.
<br>    8.“회원의 게시물”이라 함은 회사의 서비스가 제공되는 웹사이트에 회원이 올린 글, 이미지, 각종 파일 및 링크, 각종 덧글 등의 정보를 의미합니다.
<br>    9.“사이버머니”라 함은 유상 또는 무상으로 회사 웹사이트 내에서 콘텐츠 등을 구매할 수 있는 가상의 지불수단을 말합니다. 소라, 정액권 등 그 명칭에 따라 결제 가능한 범위의 차이가 있을 수 있습니다.
<br> ② 전항 각호에 해당하는 정의 이외의, 기타 용어의 정의에 대하여는 거래 관행 및 관계 법령에 따릅니다.
<br>
<br>
<br> 제3조 [회사 신원정보 등의 제공]
<br>    회사는 회사의 상호, 대표자 성명, 주소, 전화번호(소비자의 불만을 처리하는 곳의 연락처 포함), 모사전송번호, 전자우편주소, 사업자등록번호, 통신판매업 신고번호 및 개인정보관리책임자 등을 이용자가 쉽게 알 수 있도록 온라인 서비스 초기화면에 게시합니다.
<br>
<br>
<br> 제4조 [약관의 게시 등]
<br>    회사는 이용자가 별도의 연결화면을 통하여 약관을 확인할 수 있도록 회사 웹사이트에 게시하며, 약관의 전문을 출력할 수 있도록 하고 있습니다.
<br>
<br>
<br>  제5조 [약관의 개정]
<br>① 회사는 관계법령을 위배하지 않는 범위에서 본 약관을 개정할 수 있습니다.
<br>② 회사가 약관을 개정할 경우에는 적용일자 및 개정사유를 명시하여, 개정 전 약관과 함께 적용일 14일 전부터 회사 웹사이트에서 확인할 수 있도록 게시하며, 기존 회원에게는 본 약관 제8조의 방법을 통하여 약관 개정사실을 통지합니다.
<br>③ 기존 회원이 변경된 약관에 동의하지 않는 경우 서비스 이용을 중단하고 회원탈퇴를 할 수 있습니다.
<br>
<br>
<br> 제6조 [약관의 효력]
<br>① 본 약관은 이용자가 약관의 내용에 동의하며 회원가입을 신청하고, 회사가 그 신청에 대하여 승낙함으로써 효력이 발생합니다.
<br>② 회사는 기존 회원이 본 약관 제5조 제2항에 따른 공지 또는 통지에도 불구하고, 동 기간 내에 이의를 제기하지 않는 경우에는 변경된 약관을 승인한 것으로 봅니다.
<br>③ 본 약관에 명시되지 않은 사항에 대해서는 “약관의 규제에 관한 법률”, “정보통신망 이용촉진 및 정보보호 등에 관한 법률”, “전자상거래 등에서의 소비자보호에 관한 법률” 및 기타 관련법령의 규정에 따릅니다.
<br>
<br>
<br>   제7조 [약관의 해석]
<br>    본 약관에서 정하지 아니한 사항과 본 약관의 해석에 관하여는 관계법령 또는 상관 관례에 따라 해석됩니다.
<br>
<br>
<br>    제8조 [“회원”에 대한 통지]
<br>① 회사는 회원에게 알려야 할 사항이 발생하는 경우, 회원가입 시 회원이 공개한 전자우편주소 또는 쪽지, 팝업창, 유ㆍ무선 등의 방법으로 통지할 수 있습니다.
<br>② 회사는 회원 전체에 대한 통지의 경우 14일 이상 회사 웹사이트 게시판에 게시함으로써 전항의 통지에 갈음할 수 있습니다. 다만, 회원 본인의 거래와 관련하여 중대한 영향을 미치는 사항에 대하여는 전항과 동일한 방법으로 별도 통지할 수 있습니다.
<br>
<br>
<br>    제 2 장 회원가입
<br>
<br>
<br>    제9조 [회원가입]
<br>    ① 회원으로 가입하여 회사 서비스의 이용을 희망하는 자는 약관의 내용을 숙지한 후 동의함을 표시하고, 회사가 제시하는 소정의 회원가입 양식에 관련사항을 기재하여 회원가입을 신청하여야 합니다.
<br>    ② 회사는 전항에 따라 회원이 온라인 회원가입 신청양식에 기재하는 모든 회원정보를 실제 데이터인 것으로 간주합니다.
<br>    ③ 실명이나 실제 정보를 입력하지 않은 회원은 법적인 보호를 받을 수 없으며, 본 약관의 관련 규정에 따라 서비스 사용에 제한을 받을 수 있습니다.
<br>    ④ 회사는 본 조 제1항에 따른 이용자의 신청에 대하여 회원가입을 승낙함을 원칙으로 합니다. 다만, 회사는 다음 각 호에 해당하는 신청에 대하여는 승낙을 하지 않을 수 있으며, 승낙 이후라도 취소할 수 있습니다.
<br>    1. 이용자의 귀책사유로 인하여 승인이 불가능한 경우
<br>    2. 실명을 사용하지 않은 경우
<br>    3 .타인의 명의 또는 개인정보를 도용하는 경우
<br>    4 .허위의 정보를 제공하는 경우
<br>    5. 중복된 아이디 또는 주민등록번호를 사용하는 경우
<br>    6. 회사가 제시하는 회원가입 신청양식에 관련 내용을 기재하지 않은 경우
<br>    7. 이전에 회사 이용약관 또는 관계법령을 위반하여 회원자격이 상실되었던 경우
<br>    8. 본 약관 제19조 [회원의 의무]를 위반하는 경우
<br>    9. 기타 본 약관 및 관계법령을 위반하는 경우
<br>    10. 회원가입 신청양식에 기재되어 회사에 제공되는 개인정보(ID, 비밀번호, 주소 등)가 선량한 풍속 기타 사회질서에 위배되거나 타인을 모욕하는 경우
<br>    ⑤ 회사는 서비스 관련 설비의 여유가 없거나, 기술상 또는 업무상 문제가 있는 경우에는 승낙을 유보할 수 있습니다.
<br>    ⑥ 회사가 본 조 제4항과 제5항에 따라 회원가입신청의 승낙을 하지 아니하거나 유보한 경우에는 팝업 창을 통하여 즉시 이용자(신청자)에게 알립니다. 단, 회사의 귀책사유 없이 신청자에게 알릴 수 없는 경우에는 예외로 합니다.
<br>
<br>
<br>    제10조 [만 14세 미만 아동의 회원가입에 관한 특칙]
<br>    ① 만14세 미만의 이용자는 회사 웹사이트에서 전자적 표시 형태로 제공되는 개인정보취급방침을 충분히 숙지한 후, 반드시 보호자[법정대리인]의 동의를 얻어 회원가입을 신청 하여야 하는 등 본인의 개인정보를 제공함에 있어 신중을 기해야 합니다.
<br>    ② 회사는 만 14세 미만의 이용자가 회원가입을 신청하는 경우 별도의 안내 또는 절차를 통하여 보호자[법정대리인]의 동의 여부를 확인할 수 있습니다.
<br>    ③ 회사는 보호자[법정대리인] 동의에 대한 확인절차를 거치지 않은 만14세 미만 이용자에 대하여는 회원가입을 불허 또는 취소할 수 있습니다.
<br>    ④ 만 14세 미만 회원의 보호자[법정대리인]는 자녀에 대한 개인정보의 열람, 정정, 갱신을 요구하거나 회원가입에 대한 동의를 철회할 수 있으며, 이러한 경우에 회사는 지체 없이 필요한 조치를 취해야 합니다. 이때 회사는 보호자[법정대리인]임을 입증할 수 있는 문서 등의 확인서류 제출을 요청할 수 있습니다.
<br>
<br>    제11조 [회원정보의 변경]
<br>    ① 회원은 회사 웹사이트 “정보수정” 페이지에서 언제든지 자신의 개인정보를 열람하고 수정할 수 있습니다.
<br>    ② 회원이 전항의 변경사항을 수정하지 않아 발생한 불이익에 대하여 회사는 책임지지 않습니다.
<br>
<br>    제12조 [“회원”의 “아이디” 및 “비밀번호”의 관리에 대한 의무]
<br>
<br>
<br>    ① 회원은 아이디와 비밀번호에 대한 관리책임이 있으며, 이를 타인에게 공개하여 제3자가 이용하도록 하여서는 아니 됩니다.
<br>    ② 회원은 자신의 아이디 및 비밀번호가 유출되어 제3자에 의해 사용되고 있음을 인지한 경우, 즉시 회사에 알려야 합니다.
<br>    ③ 회사는 전항의 경우 회원의 개인정보보호 및 기타 서비스 부정이용행위 방지 등을 위하여 회원에게 비밀번호의 변경 등 필요한 조치를 요구할 수 있으며, 회원은 회사의 요구가 있는 즉시 회사의 요청에 성실히 응해야 합니다.
<br>    ④ 회사는 회원이 본 조 제2항 및 제3항에 따른 의무를 성실히 이행하지 않아 발생한 불이익에 대하여 책임지지 않습니다.
<br>
<br>
<br>    제13조 [회원탈퇴 및 자격 상실 등]
<br>    ① 회원은 언제든지 서비스 이용을 중단하고 탈퇴할 수 있습니다.
<br>    ② 회사는 회원이 본 약관 또는 관계법령을 위반하는 경우, 서비스 이용을 제한하거나 회원자격을 상실 시킬 수 있습니다.
<br>    ③ 전항에 따른 조치는 본 약관 제20조 제2항 내지 제4항의 규정을 준용합니다.
<br>
<br>
<br>    제 3 장 서비스 이용계약
<br>
<br>    제14조 [거래조건에 대한 정보의 표시]
<br>    ① 회사는 다음 각호에 해당하는 사항을 해당 콘텐츠 또는 그 포장에 표시합니다.
<br>    1. 콘텐츠의 명칭, 종류, 내용, 가격, 이용기간
<br>    2. 콘텐츠 이용에 필요한 전자매체의 최소한의 기술사양
<br>    3. 휴대가 가능한 학습용 전자기기의 사용가능 여부
<br>    4. 환불기준 등 서비스 이용계약의 해지방법 및 효과
<br>    5. 이용약관 및 개인정보취급방침
<br>② 회사는 전항 각 호의 사항을 회사 웹사이트, 본 이용약관, 개인정보취급방침 등에서 이미 고지하고 있는 경우, 별도로 표시하지 않을 수 있습니다.
<br>
<br>
<br>    제15조 [서비스 이용계약의 성립 및 결제방법 등]
<br>    ① 회원은 회사가 제공하는 다음 각호 또는 이와 유사한 절차에 의하여 콘텐츠 서비스 이용을 신청을 합니다. 회사는 계약 체결 전, 다음 각 호의 사항에 관하여 회원이 정확하게 이해하고 실수 또는 착오 없이 거래할 수 있도록 정보를 제공합니다.
<br>    1. 콘텐츠 목록의 열람 및 선택
<br>    2. 콘텐츠 상세정보 확인
<br>    3. 결제하기 클릭
<br>    4. 주문상품 및 결제금액 확인 (환불규정 안내)
<br>    6. 결제수단 선택
<br>    7. 결제금액 재확인
<br>    8. 결제
<br>    ② 회원은 신용카드, 인터넷계좌이체 등 회사에서 정하고 있는 방법으로 유료서비스의 결제가 가능합니다. 다만, 각 결제수단마다 결제수단의 특성에 따른 일정한 제한이 있을 수 있습니다.
<br>    ③ 회사는 보호자의 동의 여부를 유ㆍ무선 등의 방법을 통하여 확인할 수 있습니다.
<br>    ④ 회사는 회원의 유료서비스 이용신청이 다음 각 호에 해당하는 경우에는 승낙하지 않거나, 그 사유가 해소될 때까지 승낙을 유보할 수 있습니다.
<br>    1. 유료 서비스의 이용요금을 납입하지 않는 경우
<br>    2. 유료 서비스 신청금액 총액과 입금총액이 일치하지 않은 경우
<br>    3. 기타 합리적인 이유가 있는 경우로서 회사가 필요하다고 인정되는 경우
<br>    ⑤ 회사는 회원이 본 조 위 조항의 절차에 따라 유료서비스 이용을 신청할 경우, 승낙의 의사표시로써 본 약관 제8조의 방법을 통하여 회원에게 통지하고, 승낙의 통지가 회원에게 도달한 시점에 계약이 성립한 것으로 봅니다.
<br>    ⑥ 회사의 승낙의 의사표시에는 회원의 이용신청에 대한 확인 및 서비스제공 가능여부, 이용신청의 정정, 취소 등에 관한 정보 등을 포함합니다.
<br>
<br>    제16조 [회사의 의무]
<br>    ① 회사는 법령과 본 약관이 정하는 권리의 행사와 의무의 이행을 신의에 좇아 성실하게 하여야 합니다.
<br>    ② 회사는 회원이 서비스를 이용하는 과정에서 회원 개인정보가 외부로 유출되지 않도록 노력하며 그 구체적인 내용은 회사 웹사이트에 “개인정보취급방침”에서 확인할 수 있습니다.
<br>    ③ 회사는 회원이 유료서비스 이용 및 그 대금내역을 수시로 확인할 수 있도록 조치합니다.
<br>    ④ 회사는 서비스 이용과 관련하여 회원으로부터 제기된 의견이나 불만이 정당하다고 인정할 경우에는 이를 지체 없이 처리합니다. 회원이 제기한 의견이나 불만사항에 대해서는 게시판을 활용하거나 전자우편 등을 통하여 그 처리과정 및 결과를 전달합니다.
<br>    ⑤ 회사는 본 약관에서 정한 의무 위반으로 인하여 회원이 입은 손해를 배상합니다.
<br>
<br>
<br>    제17조 [회원의 의무]
<br>    ① 회사의 명시적 동의가 없는 한 회원의 이용권한은 회원 개인에 한정되며, 타인에게 양도, 증여하거나 이를 담보로 제공할 수 없습니다.
<br>    ② 회사는 회원이 다음 각 호의 1에 해당하는 의무를 위반 하였을 경우 기간을 정하여 전부 또는 일부의 서비스 이용을 중지하거나 상당기간의 최고 후 이용계약을 해지할 수 있습니다.
<br>    1. 회원이 이용신청 또는 변경 시, 허위사실을 기재하거나, 자신 또는 다른 회원의 ID 및 개인정보를 이용ㆍ공유하는 경우
<br>    2. 회원이 회사 또는 제3자의 권리나 저작권을 침해하는 경우
<br>    3. 회원이 회사에서 제공하는 서비스를 이용하여 상품 또는 용역을 판매하는 영업활동 등의 상행위를 하는 경우
<br>    4. 회원이 다른 이용자의 서비스 이용을 방해하거나, 회사의 운영진, 직원 또는 관계자를 사칭하는 경우
<br>    5. 회원이 회사 웹사이트 내에서, 사회의 안녕질서 혹은 미풍양속을 저해하는 행위를 하거나, 그와 관련된 부호ㆍ문자ㆍ음성ㆍ음향 및 영상 등의 정보를 게시하여 타인에게 유포시키는 경우
<br>    6. 회원이 회사로부터 유ㆍ무상으로 제공받은 캐시, 포인트 등의 재화를 제3자와 유ㆍ무상 등의 방법으로 거래하는 경우
<br>    7. 회사의 서비스 운영을 고의로 방해 하거나 그리할 목적으로 다량의 정보를 전송하거나 광고성 정보를 전송하는 경우
<br>    8. 관계법령 및 기타 본 약관에서 규정한 사항을 위반한 경우
<br>    9. 회사 및 타인의 명예를 훼손하거나 모욕하는 경우
<br>
<br>
<br>    제18조 [부정이용 금지 및 차단]
<br>    ① 회사는 다음 각호에 해당하는 경우를 부정 이용행위로 봅니다.
<br>    1. 동일한 ID로 2대 이상의 PC에서 동시접속이 발생하는 경우
<br>    2. 동일한 ID로 다수의 PC 또는 IP에서 서비스를 이용하는 경우
<br>    3. 자신의 ID 및 모의고사, 보충문제 등의 서비스를 타인이 이용하도록 하는 경우
<br>    4. 자신의 ID 및 모의고사, 보충문제 등의 서비스를 타인에게 판매, 대여, 양도하는 행위 및 이를 광고하는 행위
<br>    5. 서비스 이용 중, 복제프로그램을 실행하는 하거나 그 와 유사행위를 하거나 시도하는 경우
<br>    ② 회사는 전항에 따른 부정 이용자가 발견 되었을 경우, 다음 각호에 따른 조치를 취할 수 있습니다.
<br>    1. [1차 발견 시] - 전자우편, 쪽지, 팝업 창을 통하여 경고합니다.
<br>    2. [2차 발견 시] - 전호와 동일한 방법으로 경고하고 동시에 서비스 이용을 정지 시킵니다. 이때, 보호자[법정대리인]가 가족관계를 확인할 수 있는 주민등록등본을 첨부하여 “재발방지확약ㆍ보증서”를 회사에 송달하는 경우에는 서비스 이용정지를 해제 합니다.
<br>    3. [3차 발견 시] - 전자우편, 쪽지, 팝업창 또는 유ㆍ무선을 통하여 3차 위반내용의 통지 및 서비스 이용을 정지 시키고 30일간의 소명기간 부여하며, 정당한 사유가 없는 경우 강제 탈퇴처리 합니다.
<br>    ③ 회원은 전항 제2호의 조치를 이유로, 서비스 이용기간의 연장을 요구할 수 없습니다.
<br>    ④ 회원은 회사로부터의 본 조 제2항의 조치에 이의가 있는 경우, 회사 고객지원팀 또는 부정사용관리센터에 해당 사실에 대하여 소명할 수 있으며, 그에 따라 이용에 관한 별도의 조치를 받을 수 있습니다.
<br>    ⑤ 부정이용 식별방법 및 차단
<br>    1. 회사는 회원의 서비스 이용중에 수집ㆍ확인된 IP정보 등의 자료를 토대로, 서버를 통하여 부정이용 여부를 분류ㆍ확인합니다.
<br>    2. 회사는 회원이 서비스 이용 중에 복제프로그램을 실행시키거나 동일한 ID로 동시 접속을 하는 경우, 서비스 이용 접속을 강제로 종료 시킵니다.
<br>    3. 회원의 고유 아이디가 적힌 웹문서(PDF)가 온라인상에 유포되었을 경우 해당 아이디 이용자의 서비스 이용 접속을 강제로 종료 시킵니다.
<br>
<br>
<br>    제19조 [서비스의 제공 및 변경]
<br>    ① 회사는 연중무휴, 1일 24시간 서비스 제공을 원칙으로 합니다.
<br>    ② 회사는 운영상 또는 기술상 등의 상당한 이유가 있는 경우 제공하고 있는 서비스를 변경할 수 있습니다.
<br>    ③ 전항에 따라 서비스가 변경되는 경우에는 변경되는 사유 및 내용을 본 약관 제8조에 따른 방법으로 회원에게 통지합니다.
<br>
<br>
<br>    제20조 [서비스의 중단]
<br>    ① 회사는 컴퓨터 등 정보통신설비의 보수점검, 교체 및 고장, 통신두절 또는 운영상 상당한 이유가 있는 경우 서비스의 제공을 일시적으로 정지할 수 있습니다. 이 경우 회사는 제8조에 정한 방법으로 “회원”에게 통지합니다.
<br>    ② 회사가 사업종목의 전환, 사업의 포기, 업체 간의 통합 등의 이유로 서비스를 제공할 수 없게 되는 경우, 본 약관 제8조에서 정한 방법으로 회원에게 통지하고, 본 약관 제28조 제3항 제3호에 따라 환불이 진행됩니다.
<br>
<br>
<br>    제21조 [정보의 제공 및 광고의 게재]
<br>    ① 회사는 회원이 서비스 이용 중 필요하다고 인정되는 다양한 정보를 공지사항이나 전자우편 또는 유선상 등의 방법으로 회원에게 제공할 수 있습니다. 다만, 회원은 언제든지 전자우편 등을 통하여 수신 거절을 할 수 있습니다.
<br>    ② 제1항의 정보를 전화 및 모사전송기기에 의하여 전송하려고 하는 경우에는 "회원"의 사전 동의를 받아서 전송합니다. 다만, "회원"의 거래관련 정보 및 고객문의 등에 대한 회신에 있어서는 제외됩니다.
<br>    ③ 회사는 서비스 제공과 관련하여 해당 서비스 화면, 회사 웹사이트, 회원가입 시 회원이 직접 작성한 전자우편 등에 광고를 게재할 수 있습니다. 광고가 게재된 전자우편 등을 수신한 회원은 수신거절을 할 수 있습니다.
<br>
<br>
<br>    제22조 [회원이 등록한 게시물의 삭제]
<br>    ① 회사는 회원이 등록한 게시물 중, 본 약관 및 관계법령 등에 위배되는 게시물이 있는 경우 이를 지체 없이 삭제합니다.
<br>    ② 회사가 운영하는 게시판 등에 게시된 정보로 인하여 법률상 이익이 침해된 자는 회사에게 당해 정보의 삭제 또는 반박내용의 게재를 요청할 수 있습니다. 이 경우 회사는 지체 없이 필요한 조치를 취하고 이를 즉시 신청인에게 통지 합니다.
<br>
<br>
<br>    제23조 [저작권]
<br>    ① 회사가 제공하는 모든 콘텐츠에 대한 저작권은 콘텐츠에 따라 회사 혹은 회사와 제휴계약을 체결한 업체에 있습니다.
<br>    ② 회원은 회사가 제공하는 서비스를 이용함으로써 얻은 정보를 회사의 사전 승낙 없이 복제ㆍ편집ㆍ전시ㆍ전송ㆍ배포ㆍ판매ㆍ방송ㆍ공연하는 등의 행위로 회사의 저작권을 침해 하여서는 안됩니다.
<br>
<br>
<br>    제24조 [개인정보보호]
<br>    ① 회사는 회원의 개인정보보호를 중요시 하며, 회원이 회사의 서비스를 이용함과 동시에 온라인상에서 회사에게 제공한 개인정보의 철저한 보호를 위하여 최선을 다하고 있습니다.
<br>    ② 개인정보보호와 관련된 자세한 사항은 회사 웹사이트에서 전자적 표시형태로 제공되는 개인정보취급방침에서 확인하실 수 있습니다.
<br>
<br>
<br>    제 4 장 유료 콘텐츠 서비스의 환불 및 변경
<br>
<br>
<br>    제25조 [관계법령상 환불정책]
<br>    ① 회사의 본 약관상 환불규정 등은 “약관의 규제에 관한 법률”, “온라인 디지털콘텐츠산업 발전법”, “전자상거래 등에서의 소비자보호에 관한 법률”, “전자출판업” 등을 반영하였습니다.
<br>    ② 전 항의 관계법령에 따른 소비자의 청약철회가 불가능한 경우로는,
<br>    1. 청약철회가 불가능한 콘텐츠에 대한 사실을 표시사항에 포함한 경우
<br>    2. 시용상품을 제공한 경우
<br>    3. 한시적 또는 일부 이용 등의 방법을 제공한 경우 등이 있습니다.
<br>    ③ 회사는 본 조 제2항 제2호에 해당하는 사유인 ‘시용상품’을 제공하고 있으며 ‘맛보기문제’등이 이에 해당합니다.
<br>
<br>
<br>    제26조 [회사의 환불규정]
<br>    ① 회사는 회원의 편의를 위하여 전 조 제1항의 관계법령에도 불구하고 본 약관을 통하여 회원에게 좀 더 유리한 별도의 환불규정을 적용합니다.
<br>    ② 회원은 환불 또는 변경을 유ㆍ무선의 방법을 통하여 회사에 그 의사를 표시하여야 하며, 회사는 환불요청을 접수하고 회원의 요청과 환불규정 확인 후, 최대한 신속하게 환불하여 드립니다.
<br>    ③ 회원은 다음 각 호의 사항에 따라 회사에 유료 콘텐츠 서비스의 환불 또는 변경을 요청할 수 있습니다. 단, 문제를 풀거나 전자기기로 문제파일을 다운로드 받는 등의 행위는 서비스를 이용한 것으로 간주합니다.
<br>    1.환불
<br>    (1) 원칙
<br>    ① 정액권
<br>    30일간 한 시험에 대해 무제한 이용권인 정액권은 승인시간으로부터 1일 이내에 맛보기문제를 제외한 다른 문제를 다운 혹은 전자기기에서 문제를 전혀 풀지 않았을 시에 환불을 요청하시면 전액환불이 가능합니다.
<br>    ② 사이버머니 충전
<br>    테스트바다의 결제수단인 ‘소라’(사이버머니)를 결제를 통하여 충전했을 경우 결제한 소라를 전혀 이용하지 않았을 시 전액환불이 가능합니다.
<br>    (2) 특별강좌
<br>    특별 패키지, 코스, 이벤트 성, 특별기획 시험문제 등으로서 이는 별도의 취소, 변경 및 환불규정이 적용될 수 있습니다.
<br>    (3) 무료 소라(사이버머니)
<br>    회사가 회원에게 무료로 지급한 소라(사이버머니, e포인트 등 명칭불문)는 유효기간 내에만 사용이 가능하며 환불은 되지 않습니다. 회사에서 이용자에게 지급한 모든 무료 소라 혹은 정액권 환불이 되지 않으며 그 유효기간은 회사정책에 의한 기준을 따르고 그 기간 이후에는 자동으로 소멸됩니다. 이에 관한 자세한 내용은 회사 웹사이트에서 확인 가능합니다.
<br>    2. 변경
<br>    환불조건에 부합하는 서비스를 타 시험으로 변경하는 경우, 직접변경은 불가능하며 환불과 동일한 조건으로 환불처리 후 재 신청 하여야 합니다.
<br>    3. 회사 사정에 의한 서비스의 중단
<br>    회사가 본 약관 제22조 제2항 및 기타 부득이한 사유로 서비스를 지속할 수 없을 경우에는 이를 회원에게 공지한 후 최대한 신속하게 환불하여 드립니다.
<br> 4. 강제 탈퇴
<br>회원이 관계법령 및 본 약관의 규정을 위반하여 회사로부터 강제탈퇴 처리가 되는 경우에는 본 조의 환불규정이 적용되지 않습니다.
<br>
<br>
<br>제 5 장 기 타
<br>
<br>
<br>제27조 [면책조항]
<br>① 회사는 천재지변 또는 이에 준하는 불가항력으로 인하여 서비스를 제공할 수 없는 경우에는 서비스 제공에 관한 책임이 면제됩니다.
<br>② 회사는 회원의 귀책사유로 인하여 발생한 서비스 이용의 장애에 대하여는 책임을 지지 않습니다.
<br>③ 회사는 회원이 서비스와 관련하여 게재한 정보, 자료, 사실의 신뢰도, 정확성 등의 내용에 관하여는 책임을 지지 않습니다.
<br>④ 회사는 이용자 상호간 또는 이용자와 제3자 간에 콘텐츠를 매개로 하여 발생한 분쟁 등에 대하여 책임을 지지 않습니다.
<br>
<br>
<br>제28조 [분쟁의 해결 등]
<br>① 회사는 분쟁이 발생하였을 경우에 회원이 제기하는 정당한 의견이나 불만을 반영하여 적절하고 신속한 조치를 취합니다. 다만, 신속한 처리가 곤란한 경우에 회사는 회원에게 그 사유와 처리일정을 통보합니다.
<br>② 전항에도 불구하고, 본 약관 및 서비스이용 및 회원과 회사간에 관련 사항 등은 모두 대한민국 법령의 적용을 받습니다.
<br>
<br>
</p>     
  	    
	</div>
  </div>
</div>



