<div class="container bucket-container management">
 <div  class="row">    
    <div class="col-md-12" align="center" style="margin:50px;">
      
    </div>
    <div class="col-md-offset-3 col-md-6">
      
            
      <table style="width:100%">
        <tr>
          <th class="tabletitle">방문한 카페</th>          
        </tr>
        <% @user.posts.where.not(:cafe_id=>0).select(:cafe_id).map(&:cafe_id).uniq.each do |c| %>          
          <tr>
            <td><%= @caves.find(c).name %></td>
          <tr>          
        <% end %>      
        
      </table>
      <br>
      <div class="actions">
        <a type="submit_button" class = "btn btn-danger">확인</a>
      </div>
      
    </div>

  </div>
</div>