<div class="container bucket-container management">
 <div  class="row">    
    <div class="col-md-12" align="center">
      <img src="<%= @cafe.thumnail.url %>" class ="img-circle" style="margin:50px;width:200px;height:200px;border: 2px solid #f0f0f0;">
    </div>
    <div class="col-md-offset-3 col-md-6">
      <form action="/home/management_save_cafe" method="POST">
        <input type="hidden" name = "id" value="<%= @cafe.id %>" >    
        <table style="width:100%">
          <tr>
            <th class="tabletitle">카페명</th>
            <td><input class = "form-control" type="text" name = "cafename" value="<%= @cafe.name %>"></td>
          </tr>
          <tr>
            <th class="tabletitle">등록자</th>
            <td><input class = "form-control" type="text" name = "username" value="<%= @cafe.user.name %>" readonly="true"></td>
          </tr>
          <tr>
            <th class="tabletitle">이메일</th>
            <td><input class = "form-control" type="text" name = "useremail" value="<%= @cafe.user.email %>" readonly="true"></td>
          </tr>
          
          <tr>
            <th class="tabletitle">카페주소(</th>
            <td><input class = "form-control" type="text" name = "cafeaddress"value="<%= @cafe.address_road %>" readonly="true"></td>
          </tr>
          <tr>
            <th class="tabletitle">연락처</th>
            <td><input class = "form-control" type="text" name = "cafecontact"value="<%= @cafe.cafecontact %>"></td>
          </tr>
          <tr>
            <th class="tabletitle">대표메뉴</th>
            <td><input class = "form-control" type="text" name = "signaturemenu"value="<%= @cafe.signaturemenu %>"></td>
          </tr>
          <tr>
            <th class="tabletitle">카페소개</th>
            <td><input class = "form-control" type="textarea" name = "introduction"value="<%= @cafe.introduction %>"></td>
          </tr>
          <tr>
            <th class="tabletitle">결제유무</th>
            <td>
              <% if @cafe.paid %>
                <input type="checkbox" name="paid" checked="checked" value="checked" aria-label="...">
              <% else %>
                <input type="checkbox" name="paid" value="checked" aria-label="...">
              <% end %>
            </td>
          </tr>
          <tr>
            <th class="tabletitle">표시유무</th>
            <td>
              <% if @cafe.visible %>
                <input type="checkbox" name="visible" checked="checked" value="checked" aria-label="...">
              <% else %>
                <input type="checkbox" name="visible" value="checked" aria-label="...">
              <% end %>
            </td>
          </tr>          
          <tr class = "tagcontent">            
            <th class="tabletitle">태그</th>              
            <td style="text-align:left">
            <% @cafe.tags.each do |t| %>
              <a class = "searchtag" href="/home/management_edit_searchtag?tag_id=<%=t.id %>&amp;cafe_id=<%=@cafe.id%>">"<%= t.content %>"</a>&nbsp;
            <% end %>
            </td>           
          </tr>
          <tr>
            <th class="tabletitle">서치태그추가</th>
            <td><input class = "form-control" type="text" name = "searchtag" placeholder="추가할 태그내용"></td>
          </tr>
        </table>
        <br>
        <div class="actions">
          <input style="width:100%" class="btn btn-danger" type="submit" value="저장" id="submit_button">
        </div>
      </form>
    </div>

  </div>
</div>

<div style="display: none" class="loading"></div>

<script type="text/javascript">
$(function(){
  $("#submit_button").click(function(e){
     e.preventDefault();
     $('.loading').show();
     $(this).closest('form').submit();
  });
})  
</script>
