<div class="container bucket-container management">
 <div  class="row">    
    <div class="col-md-12" align="center" style="margin:50px;">
      
    </div>
    <div class="col-md-offset-3 col-md-6">
      
            
      <table style="width:100%">
        <tr>
          <th class="tabletitle">등록한 카페</th>          
        </tr>
        <% @user.caves.each do |c| %>
          <tr>
            <td><%= c.name %></td>
          <tr>
        <% end %>       
        
      </table>
      <br>
      <div class="actions">
        <a href="/home/management_edit_user/<%= @user.id %>" style="width:100%" type="button" class = "btn btn-danger">확인</a>
      </div>
      
    </div>

  </div>
</div>