<div class="container bucket-container management">
 <div  class="row">    
    <div class="col-md-12">
    	<ul class="nav nav-tabs nav-justified">
		  <li role="presentation" class="active"><a href="#">카페관리</a></li>
		  <li role="presentation"><a href="/home/management_user">유저관리</a></li>
		  <li role="presentation"><a href="/home/management_payinfo">결제관리</a></li>
		</ul>
	    
      
      <br>
      <form action="/home/management_cafe" method="POST">			
			<div style="padding:0px" class="btn-group col-md-1 col-md-offset-0">
				<select name = "search_type" style="width:100%; height:46px;">
				    <% if @search_type == 1 %>
				    	<option selected = "selected" value="1">카페명</option>
			    	<% else %>
			    		<option value="1">카페명</option>
			    	<% end %>
			    	<% if @search_type == 2 %>
				    	<option selected = "selected" value="2">주소명</option>
			    	<% else %>
			    		<option value="2">주소명</option>
			    	<% end %>
			    	<% if @search_type == 3 %>
				    	<option selected = "selected" value="3">등록자명</option>
			    	<% else %>
			    		<option value="3">등록자명</option>
		    		<% end %>
		    		<% if @search_type == 4 %>
			    		<option selected = "selected" value="4">이메일</option>
			    	<% else %>
			    		<option value="4">이메일</option>
			    	<% end %>		
				</select>
			</div>
	      	<div class="postnumber input-group input-group-lg col-md-11 col-md-offset-0">		      
		      	<input type="text" class="form-control" style="padding:10px; text-align:left" placeholder="검색어 입력" name="searchname" value="<%= @search_name %>">
			    <span class="input-group-btn">
			      <button class="btn btn-danger" type="submit">검색</button>
			    </span>		      
	      	</div>
      </form>
      <br>
      <div>
      	
      	<table>
		  <tr>
		    <th class="tabletitle">카페명</th>
		    <th class="tabletitle">등록자</th>
		    <th class="tabletitle">이메일</th>
		    <th class="tabletitle">연락처</th>
		    <th class="tabletitle">결제유무</th>
		    <th class="tabletitle">표시유무</th>
		  </tr>
		  <% @caves.each do |c| %>
			  <tr onclick="location.href='/home/management_edit_cafe/<%=c.id%>'">
			    <td><%= c.name %></td>
			    <td><%= c.user.name %></td>
			    <td><%= c.user.email %></td>
			    <td><%= c.cafecontact %></td>			    
		    	<% if c.paid %>
		    		<td>O</td>
	    		<% else %>
	    			<td>X</td>
    			<% end %>			    
			    <% if c.visible %>
		    		<td>O</td>
	    		<% else %>
	    			<td>X</td>
    			<% end %>
			  </tr>
		  <% end %>		  
		</table>
	  </div>
    </div>
  </div>
</div>
<div class="container">
	<form action="/home/logos" enctype="multipart/form-data" method="POST">
		<input type="file" name="index_logo">
		<input type="file" name="others_logo">
		<input type="submit" value="change">
	</form>
</div>
<div style="display: none" class="loading"></div>

<script type="text/javascript">
$(function(){
  $("#submit_button").click(function(e){
     e.preventDefault();
     $('.loading').show();
     $(this).closest('form').submit();
  });
})  
</script>
