$('#load_more').stop().fadeIn(500, function(){
	$('.grid').append('<%= escape_javascript render partial: "total", collection: @total_result %>').each(function(){
	   $('.grid').masonry('reloadItems');
	 });
	$('.grid').imagesLoaded( function() { // When images are loaded, fire masonry again.
        $('.grid').masonry();
      });
	$('.pagination').replaceWith('<%= escape_javascript paginate @total_result %>');
	$('#load_more').stop().fadeOut();
});

<% if @total_result.current_page == @total_result.total_pages %>
  $(window).off('scroll');
  $('.pagination').remove();
<% else %>
<% end %>
