@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,700italic,400italic);
body {font-family: 'Source Sans Pro', sans-serif; font-size: 14px; color: #666;}

html,body{height:100vh;}

#gradient {
    background: #0A284B;
    background: -webkit-gradient(linear, left top, left bottom, from(#0A284B), to(#135887));
    background: -webkit-linear-gradient(#0A284B, #135887);
    background: -moz-linear-gradient(top, #0A284B, #135887);
    background: -ms-linear-gradient(#0A284B, #135887);
    background: -o-linear-gradient(#0A284B, #135887);
    background: linear-gradient(#0A284B, #135887);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0A284B', endColorstr='#135887'); 
    zoom: 1;    }  


.devise-container {
    background-color: #000000;
    padding: 0px;
    margin: 0px;
    height: 100%;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    /*vertical-align: middle;*/
    text-align: center;
    /*padding: 150px 0px 100px;*/
}
/* 로그인 및 회원가입 화면 디자인 */


.login-continer {
    background-color: #00acf1;
    text-align: center;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.loginContiner{
    margin: auto;
    width:450px;
    
}

#lean_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}


.popupContainer{
	/*position:absolute;*/
    /*margin-top: 150px;*/
    margin: auto;
	width:450px;
	height: auto;
	/*left:45%;*/
	/*top:80px;*/
	background: #FFF;
    padding:30px 20px 20px 20px;
}
    
.popupContainer h5
{
    text-align: left;
    margin : 7px;
}
.popupContainer h6
{
    margin : 7px;
    text-align: center;
}

.popupContainer section
{
    padding: 0px;
}

.popupContainer .btn
{
    margin-bottom: 20px;
}

.popup_bottom
{
    display: block;
    text-align: center;
}

.popup_bottom a
{
    font-weight: 600;
}


.facebook
{
    color:#4c6396;
}

.facebook:hover, .facebook:focus
{
    color:#4C636E;
}

.popupContainer p
{
    font-weight: 600;
    font-size:13px;
    color:#5d5d5d;
    margin-top: 0px;
    margin-bottom: 0px;
}


.one_half {width:50%; display: block; float:left;}
.one_half.last {width:45%; margin-left:5%;}

.popupBody {}

/* User Login Form */

.user_login label {display: block; margin-bottom:5px;}
.user_login input[type="text"], .user_login input[type="email"], .user_login input[type="password"] {display: block; width:100%; padding: 10px; border:1px solid #DDD; color:#666;}
.user_login input[type="checkbox"] {float:left; margin-right:5px;}
.user_login input[type="checkbox"]+label {float:left;}

.user_login .checkbox {margin-bottom: 10px; clear: both; overflow: hidden;}
.forgot_password {display:block; margin: 20px 0 10px; clear: both; overflow: hidden; text-decoration: none; color:#ED6347;}

/* User Register Form */
.user_register label {display: block; margin-bottom:5px;}
.user_register input[type="text"], .user_register input[type="email"], .user_register input[type="password"] {display: block; width:100%; padding: 10px; border:1px solid #DDD; color:#666;}
.user_register input[type="checkbox"] {float:left; margin-right:5px;}
.user_register input[type="checkbox"]+label {float:left;}

.user_register .checkbox {margin-bottom: 10px; clear: both; overflow: hidden;}

/* User Find Password Form */
.user_findpassword  label {display: block; margin-bottom:5px;}
.user_findpassword  input[type="text"], .user_findpassword input[type="email"], .user_findpassword input[type="password"] {display: block; width:100%; padding: 10px; border:1px solid #DDD; color:#666;}
.user_findpassword  input[type="checkbox"] {float:left; margin-right:5px;}
.user_findpassword  input[type="checkbox"]+label {float:left;}
.user_findpassword .checkbox {margin-bottom: 10px; clear: both; overflow: hidden;}

/* Edit Profile Form */
.edit_profile  label {display: block; margin-bottom:5px;}
.edit_profile  input[type="text"], .edit_profile input[type="email"], .edit_profile input[type="password"] {display: block; width:100%; padding: 10px; border:1px solid #DDD; color:#666;}
.edit_profile  input[type="checkbox"] {float:left; margin-right:5px;}
.edit_profile  input[type="checkbox"]+label {float:left;}
.edit_profile .checkbox {margin-bottom: 10px; clear: both; overflow: hidden;}



/* 로그인, 회원가입 */
.input {
    opacity: 0.5
}
