#fullscreen-wrap{
  margin-top : -20px;
}

.home-introduction-sentence{
  position:absolute;
  top:30%;
  z-index:100;
  width:100%;
  text-align : center;
}
  
  .home-introduction-sentence span{
    display: inline-block;
    vertical-align: middle;
    float: none;
    color:white;
  }
  
  .home-introduction-sentence h1{
    font-size:3.5em;
    font-weight:bold;
  }
  
    .home-introduction-sentence div span{
      font-size:1.3em;
      font-weight:bold;
    }
.top-sentence{
  width:100%;
  margin: auto;
  text-align:center;
  color:#565A5C;
  margin-top:50px;
  margin-bottom:30px;
}/*home/index and /home/profile and /cafe/cafesearch*/

  .top-sentence .topsent1{
    font-size:2.0em;
    font-weight:bold;
  }
  
  .top-sentence .topsent2{
    
  }
  
.content-row{
  margin-bottom : 30px;
}

.content-img1{
  width:100%;
  height:344px;
  text-align:center;
}

  .content-img1 span{
    z-index: 100;
    font-size: 32px;
    font-family: "나눔 고딕","Nanum Gothic","맑은 고딕","Malgun Gothic","Apple Gothic","돋움",Dotum,"Helvetica Neue",Helvetica,Arial,sans-serif !important;
    font-weight: bold;
    color:white;
    position:absolute;
    top:40%;
    left:10%;
    right:10%;
  }
  
  .content-img1 button{
    font-size:3.0em;
    color:white;
    position:relative;
    top:40%;
  }
body {
    overflow-x: hidden;
    font-family: "Roboto Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
}
p {
    font-size: 14px;
    line-height: 1.75;
}
.text-muted {
    color:#666666;
}
p.large {
    font-size: 16px;
    color:#666666;
}
p.profile {
    line-height: 1.5;
}
p.management{
    margin-top: 30px;
    margin-bottom: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 10px;
    padding-left: 10px;
    height:100px;
}
.management table {
    border-collapse: collapse;
    width: 100%;
}
.management th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    text-align:center;
}
.management tr{
    cursor:pointer;
}
.tabletitle
{
    font-size: 15px;
    background-color: #eaeaea;
}
.nav-tabs>li>a{
    color:#555;
}
.management a:hover:not(.searchtag){
    background-color:#ccc;
}
.management .selected{
}

.management tr:hover:not(.tagcontent)
{
    background-color:#f5f5f5
}
a.add_searchtag
{
    display: block;
    margin-top: 30px;
    margin-bottom: 40px;
    padding: 30px;
    height:100px;
}
a,
a:hover,
a:focus,
a:active,
a.active {
    outline: 0;
}
a {
    color: #00acf1;
}
a:hover,
a:focus,
a:active,
a.active {
    color: #408bcc;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}
.btn-primary {
    border-color: #00acf1;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: #fff;
    background-color: #00acf1;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    border-color: #2e6da4;
    color: #fff;
    background-color: #337AB7;
}
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    background-image: none;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
    border-color: #00acf1;
    background-color: #00acf1;
}
.btn-primary .badge {
    color: #00acf1;
    background-color: #fff;
}
.navbar-default {
    border-color: transparent;
    background-color: #222;
}
.navbar-default .navbar-brand {
    font-family: "Kaushan Script","Helvetica Neue",Helvetica,Arial,cursive;
    color: #00acf1;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:active,
.navbar-default .navbar-brand.active {
    color: #fec503;
}
.navbar-default .navbar-collapse {
    border-color: rgba(255,255,255,.02);
}
.navbar-default .navbar-toggle {
    border-color: #00acf1;
    background-color: #00acf1;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #00acf1;
}
.navbar-default .nav li a {
    /*text-transform: uppercase;*/
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    color: #fff;
}
.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus {
    outline: 0;
    color: #00acf1;
}
.navbar-default .navbar-nav>.active>a {
    border-radius: 0;
    color: #fff;
    background-color: #00acf1;
}
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #fff;
    background-color: #fec503;
}
@media(min-width:768px) {
    .navbar-default {
        padding:  0;
        border: 0;
        background-color: transparent;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
    }

    .navbar-default .navbar-brand {
        font-size: 2em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }

    .navbar-default .navbar-nav>.active>a {
        border-radius: 3px;
    }

    .navbar-default.navbar-shrink {
        padding: 10px 0;
        background-color: #222;
    }

    .navbar-default.navbar-shrink .navbar-brand {
        font-size: 1.5em;
    }
}

header {
    text-align: center;
    color: #fff;
    background-attachment: scroll;
    background-image: url(../img/header-bg.jpg);
    background-position: center center;
    background-repeat: none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

header .intro-text {
    padding-top: 100px;
    padding-bottom: 50px;
}

header .intro-text .intro-lead-in {
    margin-bottom: 25px;
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 22px;
    font-style: italic;
    line-height: 22px;
}

header .intro-text .intro-heading {
    margin-bottom: 25px;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 50px;
    font-weight: 700;
    line-height: 50px;
}

@media(min-width:768px) {
    header .intro-text {
        padding-top: 300px;
        padding-bottom: 200px;
    }

    header .intro-text .intro-lead-in {
        margin-bottom: 25px;
        font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 40px;
        font-style: italic;
        line-height: 40px;
    }

    header .intro-text .intro-heading {
        margin-bottom: 50px;
        text-transform: uppercase;
        font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 75px;
        font-weight: 700;
        line-height: 75px;
    }
}

section {
    padding: 100px 0;
}

section h2.section-heading {
    margin-top: 0;
    
    font-size: 40px;
}

section h3.section-subheading {
    margin-bottom: 75px;
    text-transform: none;
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
}

@media(min-width:768px) {
    section {
        padding: 150px 0;
    }
}
#portfolio .portfolio-item {
    right: 0;
    margin: 0 0 15px;
}

#portfolio .portfolio-item .portfolio-link {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 400px;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: rgba(254,209,54,.9);
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    transition: all ease .5s;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover:hover {
    opacity: 1;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 20px;
    margin-top: -12px;
    text-align: center;
    font-size: 20px;
    color: #fff;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {
    margin-top: -12px;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3,
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4 {
    margin: 0;
}

#portfolio .portfolio-item .portfolio-caption {
    margin: 0 auto;
    padding: 25px;
    max-width: 400px;
    text-align: center;
    background-color: #fff;
}

#portfolio .portfolio-item .portfolio-caption h4 {
    margin: 0;
    text-transform: none;
}

#portfolio .portfolio-item .portfolio-caption p {
    margin: 0;
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-style: italic;
}

#portfolio * {
    z-index: 2;
}

@media(min-width:767px) {
    #portfolio .portfolio-item {
        margin: 0 0 30px;
    }
}

aside.clients img {
    margin: 50px auto;
}

section#contact {
    background-color: #222;
    background-image: url(../img/map-image.png);
    background-position: center;
    background-repeat: no-repeat;
}

section#contact .section-heading {
    color: #fff;
}

section#contact .form-group {
    margin-bottom: 25px;
}

section#contact .form-group input,
section#contact .form-group textarea {
    padding: 20px;
}

section#contact .form-group input.form-control {
    height: auto;
}

section#contact .form-group textarea.form-control {
    height: 236px;
}

section#contact .form-control:focus {
    border-color: #00acf1;
    box-shadow: none;
}

section#contact::-webkit-input-placeholder {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: #bbb;
}

section#contact:-moz-placeholder {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: #bbb;
}

section#contact::-moz-placeholder {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: #bbb;
}

section#contact:-ms-input-placeholder {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: #bbb;
}

section#contact .text-danger {
    color: #e74c3c;
}

footer {
    padding: 25px 0;
    text-align: center;
}

footer span.copyright {
    text-transform: uppercase;
    text-transform: none;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 40px;
}

footer ul.quicklinks {
    margin-bottom: 0;
    text-transform: uppercase;
    text-transform: none;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 40px;
}

ul.social-buttons {
    margin-bottom: 0;
}

ul.social-buttons li a {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 40px;
    outline: 0;
    color: #fff;
    background-color: #222;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
    background-color: #00acf1;
}

.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus {
    outline: 0;
}

::-moz-selection {
    text-shadow: none;
    background: #00acf1;
}

::selection {
    text-shadow: none;
    background: #00acf1;
}

img::selection {
    background: 0 0;
}

img::-moz-selection {
    background: 0 0;
}

body {
    webkit-tap-highlight-color: #00acf1;
}

#error_explanation ul li {
  font-size: 15px;
  font-weight: 800;
  list-style: none;
  text-align: left;
  color:red;
}

.portfolio-item {
    margin-bottom: 5px;
    background: #00acf1; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#00acf1, #ffffff); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#00acf1, #ffffff); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#00acf1, #ffffff); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#00acf1, #ffffff); /* Standard syntax (must be last) */
}

.profile-image{
    margin-top: 30px;
    margin-bottom: 40px;
}

.header_inner{
    background-image: url("https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcRFsEFmXSahAhgA1OTsa15lRguzOywzkafsKTRBwdzzg63Umjz_");
    width: 100%;
    height: 350px;
    display: flex;
    align-items: center;
}
.help-sentence{
    width: 100%;
    text-align: center;
}
.help-container h1,h2,h3,h4,h5,h6{
    margin-top:33px;
    margin-bottom:33px;
    margin-right: 5px;
    margin-left: 5px;
    color: #5d5d5d;
}

.help-container p{
    color: #777777;
    margin-right: 5px;
    margin-left: 5px;
}


.help-container ul{
    padding-left: 20px;
    /*position: fixed;*/
}

.help-container li{
    margin-top:10px;
    margin-bottom:10px;
    list-style: none;
}

.help-container ul > li > a {
    color: #8c8c8c;
    font-size: 15px;
    font-weight: 800;
    text-decoration: none;
}

.help-container ul > li > a:hover {
    color: #c9302c;
    
}
.center{
    margin-left: auto;
    margin-right: auto;
}

.right{
    position: absolute;
    right: 0px;
}

.boardimg{
    width: 100%;
    height: 100%;
}

.boardinput{
    margin-bottom: 10px;
}
.boardinput h2
{
    margin-top: 10px;
    margin-bottom: 10px;
}

.boardcreate{
    margin-top: 20px;
    margin-bottom: 40px;
}
.board_header{
    background-image: url("https://pixabay.com/static/uploads/photo/2015/12/26/05/53/wood-1108307_960_720.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 280px;
    display: flex;
    align-items: center;
}

.board-padding{
    padding-left: 85px;
    padding-right: 85px;
}

.board-panel{
    margin-bottom: 0px;
}

/*------------------------For file_tag----------------------------*/
.file_tag{
    width:0;
    height:0;
  }
.file_tag1{
    width:0;
    height:0;
}
/*----------------------------------------------------------------*/

.profile_mod{
    background-color:#5D5D5D;
    border-color:#5D5D5D;
    margin-right: 10%;
    float: right;
    transform:translateY(-100%);
}
.profile_mod:hover{
    background-color:#e5e5e5;
}

.profile_vertical{
    border-right: thin solid #BABABA;
    
}

.profile_hr{
    border-top: thin solid #eee;
}
#replyblock:hover{
  background-color: #666;
  background : rgba(0, 0, 0, 0.1);
}
.img-circle{
  width:40px;
  height:40px;
}
#reply_username_content_time{
  font-size:13px;
}
#replyname{
   color:#0033CC;
}
#commentname{
    color:#0033CC;
}
#replyblock{
  margin-bottom:5px;
}
.featurette-divider{
  margin-top:0px;
  margin-bottom:0px; 
  width: 100%;
  border-top: 1px solid #dddddd;
}
.ui-widget{
    z-index: 1051!important;
}
.postnumber{
  padding-left: 0px;
  padding-right: 0px;
}

.bucket-container {
    vertical-align: middle;
    text-align: center;
    margin-top: 63px;
    padding: 20px 0px 70px;
}
.slick-prev:before, .slick-next:before { 
    color:#00acf1 !important;
}
.grid-item { 
    float: left;
    width:236px;
    margin: 0px 5px;
}
.visit-grid-item{
    float: left;
    width:236px;
    margin: 0px 5px;
}
@media (max-width: 1200px) {
    #user_image{
        float:left;
    }
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in { 
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
}

/* 모달 만들기 */
.Modal .modalMask.dark {
    background-color: #000;
    opacity: .5;
}

.Modal .modalMask {
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-color: #e2e4e4;
    opacity: 0.9;
    position: fixed;
}

.Modal {
    position: fixed;
    top: 0;
    z-index: 751;
}

.Modal.absoluteCenter .modalScroller {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}


.Modal .modalScroller {
    -webkit-overflow-scrolling: touch;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    position: fixed;
}

.Modal .modalContainer {
    min-height: 0;
    position: relative;
    text-align: center;
}

.Modal.show .modalContent {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.Modal .modalContent {
    -webkit-transform: translateZ(0);
    background: #fff;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.22);
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.22);
    display: inline-block;
    margin: 20px auto;
    opacity: 0;
    position: relative;
    text-align: left;
}
.NuxModalStepBase.brio, .NuxModalStepBase.brio_final_loading {
    height: 640px;
    width: 800px;
}
.NuxModalStepBase {
    border-radius: 6px;
    height: 700px;
    max-height: 100vh;
    overflow: hidden;
    width: 656px;
}

.NuxModalStepBase .stepInfoContent {
    color: #d3d3d3;
    font-size: 16px;
    font-weight: bold;
    height: 20px;
    line-height: 19px;
    position: absolute;
    right: 16px;
    text-align: right;
    top: 16px;
}
.NuxModalInterestPicker.brio .contentWrapper, .NuxModalInterestPicker.fullScreen .contentWrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
}

.NuxModalInterestPicker.brio .headerContent, .NuxModalInterestPicker.fullScreen .headerContent {
    margin: 42px auto 0;
    width: 736px;
}
.NuxModalInterestPicker.brio .headerTitle, .NuxModalInterestPicker.fullScreen .headerTitle {
    color: #00acf1;
    font-size: 15px;
    font-weight: bold;
    line-height: 30px;
    margin: 0px;
}
.NuxModalInterestPicker.brio .headerSubTitle, .NuxModalInterestPicker.fullScreen .headerSubTitle {
    color: #555;
    font-size: 15px;
    font-weight: bold;
    line-height: 30px;
    margin: 0px;
}

.NuxModalInterestPicker.brio .searchWrapper, .NuxModalInterestPicker.fullScreen .searchWrapper {
    background-color: #fff;
    border-radius: 6px;
    height: 50px;
    margin: 10px auto;
    position: relative;
    width: 736px;
}

.NuxModalInterestPicker.brio .noResults, .NuxModalInterestPicker.fullScreen .noResults {
    background-color: #fff;
    color: #aaa;
    font-size: 14px;
    margin: 0 32px 20px;
    position: relative;
}


.NuxModalInterestPicker.brio .gridWrapper, .NuxModalInterestPicker.fullScreen .gridWrapper {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    overflow-y: scroll;
}

.NuxModalInterestPicker.brio .footer, .NuxModalInterestPicker.fullScreen .footer {
    background: #fff;
    border-radius: 8px;
    display: block;
    height: 100px;
    text-align: center;
    width: 100%;
    z-index: 104;
}

.NuxModalInterestPicker.brio .searchWrapper .searchIcon, .NuxModalInterestPicker.fullScreen .searchWrapper .searchIcon {
    width: 16px;
    height: 17px;
    background: url("https://s-passets-cache-ak0.pinimg.com/webapp/style/sprites/webapp-common-main-1x-acbf2b09.png") -79px -252px no-repeat;
    display: inline-block;
    left: 10px;
    position: absolute;
    top: 17px;
    vertical-align: middle;
    z-index: 101;
}

.Input {
    overflow: hidden;
    border-top: 1px solid #dfdfdf;
    padding: 15px 21px 15px 27px;
    background-color: #f3f3f3;
    background: -webkit-gradient(linear, left top, left bottom, from(#f0f0f0), to(#f5f5f5));
    background: -webkit-linear-gradient(#f0f0f0, #f5f5f5);
    background: linear-gradient(#f0f0f0, #f5f5f5);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    border-radius: 3px;
    border: 1px solid #d6d3ce;
    -webkit-box-shadow: 0 0 3px rgba(0,0,0,0.12) inset;
    box-shadow: 0 0 3px rgba(0,0,0,0.12) inset;
    color: #333;
    font-size: 14px;
    padding: 7px;
}

.NuxModalInterestPicker.brio .searchWrapper .search, .NuxModalInterestPicker.fullScreen .searchWrapper .search {
    background-color: #f2f2f2;
    border: 0;
    border-radius: 6px;
    -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.07);
    box-shadow: inset 0 0 2px rgba(0,0,0,0.07);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #00acf1;
    font-size: 18px;
    line-height: 24px;
    padding: 13px 0 13px 33px;
    width: 736px;
}

.NuxModalInterestPicker.brio .clearSearch, .NuxModalInterestPicker.fullScreen .clearSearch {
    border-radius: 0 6px 6px 0;
    cursor: pointer;
    display: inline-block;
    padding: 19px 20px;
    position: absolute;
    right: 0;
    top: 0;
    -webkit-transition: display 1s linear;
    transition: display 1s linear;
}

.NuxModalInterestPicker.brio .gridWrapper .Grid, .NuxModalInterestPicker.fullScreen .gridWrapper .Grid {
    min-height: 100px;
}

.Grid {
    margin: 0 auto 14px;
    position: relative;
}

.NuxModalInterestPicker.brio .gridWrapper .GridItems, .NuxModalInterestPicker.fullScreen .gridWrapper .GridItems {
    width: 750px;
}
.GridItems.fixedHeightLayout {
    padding-bottom: 2px;
}
.GridItems.centeredWithinWrapper {
    margin-bottom: 14px;
    padding-bottom: 4px;
}
.GridItems {
    margin: 0 auto 14px;
    position: relative;
}
.centeredWithinWrapper {
    margin: 0 auto;
}

.centeredWithinWrapper {
    width: 1250px;
}

.btn-taglist{
/*    margin-top: 4px;
    margin-left: 4px;
    margin-right: 4px;
    margin-bottom: 4px;
        background-color: #00acf1;
    color: white;
*/
    font-size:13px;
    background-color: #FFF;
    border: 2px solid #00acf1;
    color:#00acf1;
    border-radius: 4px;
    padding: 2px 4px;
    float:left;
    margin-right:10px; 
    margin-bottom:5px;
}


.NuxModalInterestPicker.brio .footer .buttonWrapper, .NuxModalInterestPicker.fullScreen .footer .buttonWrapper {
    border-top-color: #d3d3d3;
    border-top-style: solid;
    border-top-width: 1px;
    display: none;
}

.NuxModalInterestPicker.brio .footer .buttonWrapper .btn:enabled, .NuxModalInterestPicker.fullScreen .footer .buttonWrapper .btn:enabled {
    background: #00acf1;
    color: #fff;
}

.NuxModalInterestPicker.brio .footer .buttonWrapper .btn, .NuxModalInterestPicker.fullScreen .footer .buttonWrapper .btn {
    border: 0 !important;
    border-radius: 6px;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    font-size: 24px;
    font-weight: bold;
    height: 60px;
    line-height: 29px;
    margin: 20px 20px;
    width: 760px;
}

.btn-selected{
/*margin-top: 4px;
margin-left: 4px;
margin-right: 4px;
margin-bottom: 4px;
background-color: white !important;
color: black !important; */
background-color: #00acf1;
    color:#FFF;
}
.Searching_list{
border-bottom-color: #d3d3d3;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    margin-bottom: 5px;
    margin-top: 5px;
    overflow: hidden;
}
/* 끝  --------------------
/*.Button.btn[disabled], .Button.btn.disabled, .Button.btn.disabled:hover, .Button.btn.disabled:focus, .Button.btn.disabled:active {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: 0 0 0 !important;
    
    border: 1px solid #ddd !important;
    color: #aaa !important;
    cursor: default;
}
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
   
    margin-top: 7.5px;
  }
  .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
      display:block !important;
  }

}

}*/
.pagination
{
    display: none;
}
.user_delete{
    color:#00acf1;
    background-color: transparent;
    font-size: 13px;
    font-weight: 600;
    border:0;
    outline:0;
    padding: 0px;
}
.button_to{
    width:60px;
    display: table-cell;
    vertical-align: middle;;
}

.like_count > .fa-heart
{
    color:#999;
    cursor: pointer;
}

.fa-heart
{
    color:red;
    cursor: pointer;
}

.fa-heart-o
{
    color:#999;
    cursor: pointer;
}