<script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>

<div class="devise-container" id="gradient">
   <div class="popupContainer" style="background-color: transparent;">
      <!-- Edit Profile form -->
      <div class="edit_profile"> 

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put ,:multipart => true}) do |f| %>
          <% if current_user.image? %>
            <p id="user_img_edit"><img id="uploadedimg_edit" src='<%=current_user.image%>' class ="img-circle profile-image" style="width:150px;height:150px;margin-bottom:0px;margin-top:0px"></p>
          <% else %>
            <p id="defalut_img_edit"><img id="uploadedimg1_edit" src='<%= image_url('profile_default.jpg') %>' class ="img-circle profile-image" style="width:150px;height:150px;margin-bottom:0px;margin-top:0px"></p>
          <% end %>
          <br>
          <a href="#" data-toggle="modal" data-target="#myModal" style="color:white;font-weight:bold">프로필 사진변경</a>
          <br>
          <div class="each-form-single-line form-group form-group-lg">

            <h5 style="color:white;">이름</h5>
            <%= f.text_field :name, autofocus: true, autocomplete: "off", class: "input", placeholder: 'Name'  %>
          </div>

          <div class="field">
            <h5 style="color:white;font-weight:bold">현재 비밀번호</h5>
            <%= f.password_field :current_password, autocomplete: "off", class: "input", placeholder: 'Current Password'  %>
          </div>

          <div class="each-form-single-line form-group form-group-lg">
            <h5 style="color:white;font-weight:bold">새 비밀번호
            <% if @minimum_password_length %>
            (최소 <%= @minimum_password_length %>자 이상)
            <% end %>
            </h5>
            <%= f.password_field :password, autocomplete: "off", class: "input", placeholder: 'New Password'  %>
          </div>

          <div class="field">
            <h5 style="color:white;font-weight:bold">비밀번호 확인</h5>
            <%= f.password_field :password_confirmation, autocomplete: "off", class: "input", placeholder: 'Confirm Password'  %>
          </div>
          <br><%= devise_error_messages! %><br>
          <input type="hidden" value="set_new" name="set_new">
          <div class="actions">
            <input class="btn btn-lg col-xs-12 col-sm-12 col-md-12 col-lg-12" type="submit" value="수정완료" style="border: 1px solid white; background-color:transparent; font-size: small; color: white; font-weight:bold;"id="submit_button">
          </div>
          <%= f.file_field :image,autocomplete: "off", onchange:"readURL_edit(this)", class:"file_tag1"%>
        <% end %>
        <div class = "popup_bottom">
          <!-- <br><div style="display: table;margin:0 auto">
                <p style="color:white;">계정을 삭제하고 싶으세요?</p>
                <%= button_to "회원 탈퇴", registration_path(resource_name), data: { confirm: "Are you sure?" },method: :delete, class:"user_delete" %>
              </div> -->
          <br><%= link_to "뒤로가기", :back, {:style=>'color:white'} %>          
        </div>
        
      </div>

      
  </div>
</div>
<div class="modal fade" id="myModal" role="dialog" tabindex="-1">
  <div class="modal-dialog" style='top:30%;left:35%;width:30%'>
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header" style="background-color: #f5f5f5">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">프로필 사진변경</h4>
      </div>
      <div class="modal-body" style="padding: 0px">
      <ul style="padding: 0px;margin: 0px;width: 100%">
        <% if current_user.image? %>
          <li style="list-style: none;border-color: #c9cbcc; border-style: solid;border-top-width: 1px;border-bottom-width: 1px;border-left-width: 0px;border-right-width: 0px;">
            <button class="link-upload" style="width:100%;border:none;background-color: white;font-size: 18px;color:#125688">사진 업로드</button>
          </li>
          <li style="list-style: none;border-color: #c9cbcc; border-style: solid;border-top-width: 1px;border-bottom-width: 1px;border-left-width: 0px;border-right-width: 0px;">
            <button class="current_img_del" style="width:100%; border:none;background-color: white;font-size:18px;color:#f12938">현재 사진 삭제</button>
          </li>
        <% else %>
          <li style="list-style: none;border-color: #c9cbcc; border-style: solid;border-top-width: 1px;border-bottom-width: 1px;border-left-width: 0px;border-right-width: 0px;">
            <button class="link-upload" style="width:100%;border:none;background-color: white;font-size: 18px;color:#125688">사진 업로드</button>
          </li>
        <% end %>
      </ul>
      </div>
      <div class="modal-footer" style="border-top:none;background-color: #f5f5f5">
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">
  $(document).ready(function(){
      $('.link-upload').click(function(){
      $('input[class=file_tag1]').click();
      $('button[class=close]').click();
      $('input[name=set_new]').val("set_new");
    });
  });
</script>
<script type="text/javascript">
  $(document).ready(function(){
    $('.current_img_del').click(function(){
      $("#uploadedimg_edit").attr('src','<%= image_url('profile_default.jpg') %>');
      $('button[class=close]').click();
      $('input[name=set_new]').val("set_default");
    });
  });
</script>
<script type="text/javascript">
  function readURL_edit(input){
    if(input.files&&input.files[0]){
      var reader = new FileReader();
      reader.onload = function(e){
        <% if current_user.image? %>
          $("#uploadedimg_edit").attr('src',e.target.result);
        <% else %>
          $("#uploadedimg1_edit").attr('src',e.target.result);
        <% end %>
      }
      reader.readAsDataURL(input.files[0]);
    }
  }
</script>
<script type="text/javascript">
  var colors = new Array(
    [62,35,255],
    [60,255,60],
    [255,35,98],
    [45,175,230],
    [255,0,255],
    [255,128,0]);

  var step = 0;
  //color table indices for: 
  // current color left
  // next color left
  // current color right
  // next color right
  var colorIndices = [0,1,2,3];

  //transition speed
  var gradientSpeed = 0.002;

  function updateGradient()
  {
    
    if ( $===undefined ) return;
    
  var c0_0 = colors[colorIndices[0]];
  var c0_1 = colors[colorIndices[1]];
  var c1_0 = colors[colorIndices[2]];
  var c1_1 = colors[colorIndices[3]];

  var istep = 1 - step;
  var r1 = Math.round(istep * c0_0[0] + step * c0_1[0]);
  var g1 = Math.round(istep * c0_0[1] + step * c0_1[1]);
  var b1 = Math.round(istep * c0_0[2] + step * c0_1[2]);
  var color1 = "rgb("+r1+","+g1+","+b1+")";

  var r2 = Math.round(istep * c1_0[0] + step * c1_1[0]);
  var g2 = Math.round(istep * c1_0[1] + step * c1_1[1]);
  var b2 = Math.round(istep * c1_0[2] + step * c1_1[2]);
  var color2 = "rgb("+r2+","+g2+","+b2+")";


    document.getElementById("gradient").style.background="-webkit-gradient(linear, left top, left bottom, from("+color1+"), to("+color2+"))";
    document.getElementById("gradient").style.background="-webkit-linear-gradient("+color1+", "+color2+")";
    document.getElementById("gradient").style.background="-moz-linear-gradient(top, "+color1+", "+color2+")";
    document.getElementById("gradient").style.background="-ms-linear-gradient("+color1+", "+color2+")";
    document.getElementById("gradient").style.background="-o-linear-gradient("+color1+", "+color2+")";
    document.getElementById("gradient").style.background="linear-gradient("+color1+", "+color2+")";
    document.getElementById("gradient").style.filter="progid:DXImageTransform.Microsoft.Alpha(startColorstr='"+color1+"', endColorstr='"+color2+"')";
    
    step += gradientSpeed;
    if ( step >= 1 )
    {
      step %= 1;
      colorIndices[0] = colorIndices[1];
      colorIndices[2] = colorIndices[3];
      
      //pick two new target color indices
      //do not pick the same as the current one
      colorIndices[1] = ( colorIndices[1] + Math.floor( 1 + Math.random() * (colors.length - 1))) % colors.length;
      colorIndices[3] = ( colorIndices[3] + Math.floor( 1 + Math.random() * (colors.length - 1))) % colors.length;
      
    }
  }
  setInterval(updateGradient,10);
</script>